services:
  sps:
    build: .
    entrypoint: /bin/bash -c "sleep $$(($$RANDOM % 10)) && exec ./build/chord_node"
    tty: false
    deploy:
      replicas: 10
    networks:
      chord-net:

networks:
  chord-net:
    driver: bridge